---
layout: default
title: Multidisciplinary Developer
description: Specializing in product ideation, rapid prototyping, and business plan development
featured_image: /images/IMG_4697_Original.jpg
---

<section class="hero">

	<div class="hero__image" style="background-image: url({{ page.featured_image | relative_url }})">
		<div class="hero__overlay"></div>
	</div>

	<div class="wrap">

		<h1>👋🏻 Hi! I'm Kenneth Ng</h1>
		<p>I'm a full-stack web developer specializing in product ideation, rapid prototyping, and development using React and Firebase. 
      Currently, I'm building Freeflow, a voice conferencing application for enterprise.</p> 

		<!-- <p><a href="/projects" class="button button--large">See my projects</a></p> -->
		{% include socials.html %}

	</div>

</section>

<section class="listing">

	<div class="wrap">

		{% for project in site.projects reversed %}

		<article class="post">

			<div class="post__image-wrap">
				<div class="post__image" style="background-image: url({{ project.featured_image | relative_url }})"></div>
			</div>

			<div class="post__content-wrap">
				<div class="post__content">
					<h2 class="post__title"><a href="{{ project.url | relative_url }}">{{ project.title }}</a></h2>
					<p class="post__subtitle">{{ project.subtitle }}</p>
					<p class="post__description">{{ project.description }}</p>
				</div>
			</div>

		</article>

		{% endfor %}

	</div>

</section>

<!-- <section class="listing">

	<div class="wrap">

		{% for post in paginator.posts %}

		<article class="post">

			<div class="post__image-wrap">
				<div class="post__image" style="background-image: url({{ post.featured_image | relative_url }})"></div>
			</div>

			<div class="post__content-wrap">
				<div class="post__content">
					<h2 class="post__title"><a href="{{ post.url | relative_url }}">{{ post.title }}</a></h2>
					<p class="post__subtitle">{{ post.subtitle }}</p>
					<p class="post__description">{{ post.description }}</p>
				</div>
			</div>

		</article>

		{% endfor %}

	</div>

</section> 

{% if paginator.total_pages > 1 %}

	<section class="pagination">

		<div class="wrap">

			{% if paginator.previous_page %}
			<a href="{{ paginator.previous_page_path | relative_url }}" class="button pagination__prev"><i class="fa fa-arrow-left" aria-hidden="true"></i> <span>Newer Posts</span></a>
			{% endif %}
			{% if paginator.next_page %}
			<a href="{{ paginator.next_page_path | relative_url }}" class="button pagination__next"><span>Older Posts</span> <i class="fa fa-arrow-right" aria-hidden="true"></i></a>
			{% endif %}

		</div>

	</section>

{% endif %} -->

<!-- <section class="single">

	<div class="wrap">

		<article class="single-post">	

			<div class="gallery" data-columns="2">
				<img src="/images/DSC00699_Original.jpg">
				<img src="/images/IMG_5436_Original.jpg">
				<img src="/images/IMG_9260_Original.jpg">
				<img src="/images/IMG_9289_Original.jpg">
			</div>

		</article>

	</div>

</section> -->

<!-- <section class="listing">

	<div class="wrap">

		{% for project in site.projects reversed %}

		<article class="post">

			<div class="post__image-wrap">
				<div class="post__image" style="background-image: url({{ project.featured_image | relative_url }})"></div>
			</div>

			<div class="post__content-wrap">
				<div class="post__content">
					<h2 class="post__title"><a href="{{ project.url | relative_url }}">{{ project.title }}</a></h2>
					<p class="post__subtitle">{{ project.subtitle }}</p>
					<p class="post__description">{{ project.description }}</p>
				</div>
			</div>

		</article>

		{% endfor %}

	</div>

</section> -->